.headList {
  border-bottom: 0.5px solid #222;
  padding: 0 15px;
}
.headListBlock {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.headListBlock div:first-child {
  flex: 1;
  padding: 15px 0;
  border-right: 0.5px solid #222;
}
.headList h1 {
  font-size: 20px;
  color: #222;
  font-weight: 400;
}
.slider {
  padding: 10px 20px;
  background: #f3f3f3;
}
.slider h1 {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  margin-bottom: 10px;
}
.accordionBox {
  border-bottom: 0.5px solid #767676;
}
.infoHead {
  padding: 0 20px;
}
.infoHead h1 {
  font-size: 16px;
  color: #222;
  font-weight: 400;
}
.options {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.options button {
  text-align: left;
  width: 100%;
  color: #222;
  background: #f3f3f3;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 20px;
}
.options button:hover {
  background: rgba(0, 0, 0, 0.04);
  transition: all 0.2s ease-in-out;
}

.resetButton {
  margin-top: 20px;
  text-align: center;
}
.resetButton button {
  background: #000;
  color: #fff;
  height: 50px;
  padding: 0 20px;
}
