.product-card,
.product-card * {
  transition: all 0.5s ease;
  text-decoration: none;
}

.clothesColors {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.clothesColors div {
  padding: 2px;
  width: 10px;
  height: 10px;
}
.clothesColors button {
  border: none;
  border-radius: 50%;
  border: 0.5px solid #222;
  width: 10px;
  height: 10px;
  cursor: pointer;
  vertical-align: top;
}
.clothesColors div.active {
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  transition: none;
  /* box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.33); */
}

.size select {
  width: 60px;
  padding: 3px 0;
  border: 0.5px solid #767676;
  background: transparent;
  color: #222;
  cursor: pointer;
}
.product-card-container {
  padding-top: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 1.5s ease;
}

.product-card {
  width: 300px;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  position: relative;
}

.product-card:hover {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.product-card .product-card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 10% 10% 10% 10%;
}

.product-card:hover .product-card-img {
  height: 240px;
}

.product-card:hover .product-card-details {
  padding-bottom: 72px;
}

.product-card .product-card-details {
  padding: 1rem;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

/*** Product Details: Produt Name & Product Price Styling [STARTS] ***/

.product-card .product-card-details .product-name {
  font-size: 18px;
  font-weight: 400;
  color: #222;
}

.product-card .product-card-details .product-price {
  font-weight: 400;
  font-size: 18px;
  color: #767676;
}

/*** Product Details: Produt Name & Product Price Styling [ENDS] ***/

/*** Product Details: Produt Wish & AddToCart [STARTS] ***/
.product-card-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-size-colors {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.product-card .product-wish-addtocart {
  position: absolute;
  bottom: -75px;
  right: 0;
  left: 0;
}

.product-card:hover .product-wish-addtocart {
  bottom: 1.1rem;
}

.product-card .product-wish-addtocart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.product-card .product-wish-addtocart .addtocart-btn {
  border-radius: 0 !important;
}

.product-card .product-wish-addtocart .wish-btn {
  margin-left: 1.2rem;
  width: 2.2rem;
  height: 2.2rem;
  padding: 1.3rem 1.3rem;
  background-color: #eee;
  color: #bbbbbb;
  box-shadow: none;
}

.wish-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.wish-btn,
button.addtocart-btn {
  background: #00c945;
  padding: 0.6rem 2.2rem;
  font-weight: 500 !important;
  font-size: 15px;
  color: #ffffff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
  cursor: pointer;
}
 .color-selected{
  background:red;
}

.addtocart-btn:hover,
.wish-btn:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/*** Product Details: Produt Wish & AddToCart [ENDS] ***/

.carousel-inner img {
  height: 480px !important;
  object-fit: cover;
  object-position: 0px 95%;
}

.carousel-inner,
.card {
  /* border-radius: 16px; */
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
}

.intro-short-desc-container img {
  /* border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; */
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
}

.img-fit {
  width: 100%;
  object-fit: cover;
  max-height: 240px;
}

/** Mobile Friendly [STARTS] ***/
@media (max-width: 840px) {
  .product-card-container {
    justify-content: center;
  }

  .product-card .product-card-img {
    height: 240px;
  }

  .product-card .product-card-details {
    padding-bottom: 72px;
  }

  .product-card .product-wish-addtocart {
    bottom: 1.1rem;
  }

  .carousel-inner img {
    object-position: center;
  }
}

@media (max-width: 400px) {
  .product-card {
    width: 100%;
  }
}

/*** Mobile Friendly [ENDS] ***/
